{
  "extends": [
    "prettier",
    "next",
    "next/core-web-vitals"
  ],
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "react/display-name": "warn",
    "no-unused-vars": "warn"
  }
}

